.verticalSlider.slick-slider {
    height: 100%;
    display: flex;
    align-items: center;
}

.verticalSlider.slick-dots {
    gap: 16px;
    display: flex !important;
    flex-direction: column;
}

.verticalSlider .slick-slide {
    transform: scale(0.9);
    transition: transform .5s ease-out;
}

.verticalSlider .slick-slide.slick-current {
    transform: scale(1);

}
